
.sidenav{
    background-color: #3f51b5;
    width: 150px;
}
.sidenav-icon{
    margin: 0 10px;
}
.sidenav-page-name{
    font-weight: 500;
}
.list a{
    color: #fff;
}
.content{
    padding: 20px;
    background-color: #fff;
}